.delete-btn {
  padding: var(--padding-xs) var(--padding-xl);
  margin: 0 var(--margin-xs);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  &.delete-btn {
    background-color: var(--delete-button);
    color: var(--secondary-color);

    &:hover {
      background-color: var(--delete-button-hover);
    }
  }
}